*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

    /* This is the container that contail all the body elements */

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
    /* header */
.top-football{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(16, 16, 155, 0.849);
}
.top-football-left{
    width: 485px;
    height: 350px;
    margin-right: 51px;

}
.top-football-left h1{
    font-size: 60px;
    line-height: 75px;
    font-weight: bolder;
    color: white;
}
.button-1{
    margin-top: 30px;
    padding: 12px 35px;
    font-size: 15px;
    color: white;
    background-color: rgb(235, 18, 119);
}
    /* hover effect on button */
.button-1:hover{
    background-color: rgb(221, 65, 138);
    color: white
    
}
.icon-1{
    margin-left: 10px;
    color: white;
}
.top-football-right{
    width: 555px;
    height: 480px;
    margin-left: 51px;
    padding-top: 10px;

}
.top-football-right img{
    width: 100%;
}

    /* Player Information design */

.player-info{
    width: 80%;
    margin-top: 35px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player{
    margin: 25px;
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px rgb(207, 205, 205);
}
.player p{
    padding-bottom: 50px;
}
.player img{
    width: 90%;
    margin-left: 5%;
    padding-top: 15px;
}
.player h2{
    padding-top: 10px;
    margin-left: 5%;
}
.player p{
    padding-top: 10px;
    margin-left: 5%;
    text-align: left;
    margin-right: 5%;
}

    /* additional section to get better user interface */

.additional-part{
    width: 100%;
    height: 600px;
    margin-top: 25px;


}
.additional-part h1{
    text-align: center;
    padding-top: 40px;
}
.toll{
    margin-left: 25%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}

.additional-part-left{
    width: 50%;
    height: 200px;

}
.image-text{
    display: flex;
}

.image img{
    width: 100%;
}
.text{
    margin-left: 15px;
}
.text p{
    padding-top: 10px;
}
button{
    padding: 5px 10px;
}


    /* footer section */

.end-part{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.logo img{
    margin-top: 100px;
    margin-left: 40%;
    width: 20%;

}
.favorite-icon{
    font-size: 30px;
    padding: 5px;
    color: lightslategray;

}
.icon{
    text-align: center;
}
footer{
    text-align: center;
    padding-top: 5px;
}